@using DBModel
@using Common.Model
@model Common.Model.UserViewModel

@{
    ViewBag.Title = "Home";
}

<div class="row" style="margin-top:5%">

    @{ 
        Html.RenderAction("SideMenu", "Home");
        var user = Session["user"] as UserViewModel;
    }

    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                Welcome @user.FirstName !
                
                @Html.ActionLink("Create Profile", "CreateProfile", "Profile");

            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                Account Information<br /><br /><br />
                <table class="table">
                    <tr>
                        <th>First Name: </th>
                        <td>@user.FirstName</td>
                    </tr>
                    <tr>
                        <th>Last Name: </th>
                        <td>@user.Lastname</td>
                    </tr>
                    <tr>
                        <th>Email Address: </th>
                        <td>@user.EmailId</td>
                    </tr>
                    <tr>
                        <th>Password: </th>
                        <td>*********</td>
                    </tr>
                </table><br /><br /><br />
                @Html.ActionLink("Edit", "Edit", new { id = user.UserId }) <br /><br /><br />
                @Html.ActionLink("Delete", "Delete", new { id = user.UserId })
            </div>
        </div>
    </div>

</div>

-->

        


