@using DBModel
@using Common.Model
@using Capstone.Business
@model Common.Model.UserViewModel

@{
    ViewBag.Title = "Home";

    var user = Session["user"] as UserViewModel;
    int? profileId = null;
    List<BadgesModel> badges = new List<BadgesModel>();
    Double? completionPercentage = null;
    var hasProfile = false;

    if (user == null || user.UserType != "Applicant")
    {
        Response.Redirect("~/LoginAccount/Index");
    }
    else
    {
        profileId = user.ProfileId;
        badges = Capstone.Business.BadgesService.GetEarnedBadges(profileId.Value);
        completionPercentage = BadgesService.GetCompletionPercentage(profileId.Value);
        hasProfile = ProfileService.CheckIfProfileExists(profileId.Value);
    }

}

<link rel="stylesheet" type="text/css" href="~/Styles/loading-bar.min.css" />
<script type="text/javascript" src="~/Scripts/loading-bar.min.js"></script>
<style type="text/css">
    .ldBar-label {
        font-size:1.5em;
    }

    .ldBar-label:after {
        content:"% Completed"!important;
        line-height: normal;
     }

    .ldBar path.mainline {
        stroke-width: 10;
        stroke: #09f;
        stroke-linecap: round;
    }
    .ldBar path.baseline {
        stroke-width: 11;
        stroke: #d3d3d3;
        stroke-linecap: round;
    }
</style>

<div class="row" style="margin-top:5%">

    @{
        Html.RenderAction("SideMenu", "Home");
    }

    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                Welcome @user.FirstName !
                @{
                    if (hasProfile == false)
                    {
                        <hr />
                        using (Html.BeginForm("CreateProfile", "Profile"))
                        {
                            <div class="card text-center mx-auto" style="width: 30rem;">
                                <img class="card-img-top" src="~/Images/createprofile.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Create Profile</h5><br />
                                    <p class="card-text" style="line-height: 1.6;">Choose your desired Salesforce career path and complete a skills assessment.</p>
                                    <button type="submit" class="btn btn-primary">Get Started!</button>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <br /><br /><br />
                        <div class="row">
                            <table class="table col-8 h4">
                                <tr class="">
                                    <th>Career Path:</th>
                                    <td>@user.CareerPath</td>
                                </tr>
                                <tr class="col-6">
                                    <th>Trailblazer Url:</th>
                                    <td>@user.TrailblazerUrl</td>
                                </tr>
                                <tr class="col-6">
                                    <th>My Badges:</th>

                                </tr>
                            </table>
                            <div class="ml-2 col-3 text-center">
                                <div class="ldBar label-center"
                                     data-value="@completionPercentage"
                                     data-preset="circle"
                                     style="width:240px; height:200px;"></div>
                            </div>
                        </div>
                        <div class="col-md-8" style="height: 24rem; overflow:hidden; overflow-y: scroll">
                            @foreach (var badge in badges)
                            {
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-2 mr-4">
                                            <img src="~/Images/@(badge.BadgeName + ".png")" class="card-img" style="height:7rem; width: auto;" alt="...">
                                        </div>
                                        <div class="badge card-body col-5 text-left my-auto">
                                            <h5 class="card-title">@badge.BadgeName</h5>
                                            <p class="card-text text-muted">@badge.Description</p>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                            }
                        </div>

                    }
                }
            </div>

            <div class="tab-pane fade" id="v-pills-path" role="tabpanel" aria-labelledby="v-pills-path-tab">
                <div class="d-flex">
                    <h2>Career Path: @user.CareerPath</h2>
                    <button type="button" id="btnUpdate" class="btn btn-outline-primary ml-auto">Update</button>
                </div>
                <hr />
                <h3>Badges Needed for Path Completion:</h3>
                <div class="row">
                    @foreach (var badge in BadgesService.GetRecommendedBadges(profileId.Value))
                    {
                        <div class="reqBadges card col-3 m-3">
                            <img class="card-img-top mx-auto mt-2" style="width:10rem; height:10rem;" src="~/Images/@(badge.BadgeName + ".png")" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@badge.BadgeName</h5>
                                <p class="card-text" style="line-height:1.6">@badge.Description</p>
                            </div>
                            <div class="card-footer text-muted">
                                Status:<br /><br />
                                <select class="form-control" id='@badge.BadgeId'>
                                    <option value="0" selected>Incomplete</option>
                                    <option value="1">Complete</option>
                                </select>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                Account Information<br /><br /><br />
                <table class="table">
                    <tr>
                        <th>First Name: </th>
                        <td>@user.FirstName</td>
                    </tr>
                    <tr>
                        <th>Last Name: </th>
                        <td>@user.Lastname</td>
                    </tr>
                    <tr>
                        <th>Email Address: </th>
                        <td>@user.EmailId</td>
                    </tr>
                    <tr>
                        <th>Password: </th>
                        <td>*********</td>
                    </tr>
                </table><br /><br /><br />
                @Html.ActionLink("Edit", "Edit", new { id = user.Id }) <br /><br /><br />
                @Html.ActionLink("Delete", "Delete", new { id = user.Id })
            </div>

            <div class="tab-pane fade" id="v-pills-jobs" role="tabpanel" aria-labelledby="v-pills-jobs-tab">
                <h3>Job Postings</h3><hr />
                <div id="tblJobs"></div> 
            </div>

        </div>
    </div>

</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            getJobPostings();

            $("#btnUpdate").on('click', function () {
                var badgeArray = [];

                $("select").each(function () {
                    var badge = new Object();
                    badge.BadgeId = $(this).attr('id');
                    badge.CompletionStatus = $(this).val();
                    badgeArray.push(badge);
                });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateBadgeCompletionStatus", "Profile")',
                    contentType: 'application/json',
                    data: JSON.stringify({ badges: badgeArray }),
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            window.location.href = '@Url.Action("Index", "Home")';
                        }
                    },
                    error: function (m) {

                    },
                });

            });
        })

        function getJobPostings() {
        $.get('@Url.Action("JobPostings","Admin")', function (res) {
            $("#tblJobs").html('').html(res);
        }).fail(function (err) {
            console.log(err);
        });
    }

    </script>
}



