@model DBModel.Job

@{
    ViewBag.Title = "JobDetails";
    var user = Session["user"] as Common.Model.UserViewModel;
    
}

<div class="ml-2" style="line-height: 1.6;">

    <h3 class="" style="margin-top:2%">
        Job Details for Ref#: @Model.jobId
    </h3>
    <hr />
    <table class="h4">
        <tr>
            <th>Job Title:</th>
            <td>@Model.jobTitle</td>
        </tr>
        <tr>
            <th>Company:</th>
            <td>@Model.company</td>
        </tr>
        <tr>
            <th>Career Path:</th>
            <td>@Model.careerPath</td>
        </tr>
        <tr>
            <th>Type:</th>
            <td>@Model.jobType</td>
        </tr>
    </table> 
    <h4>Description:</h4>
    <p class="w-50">@Model.jobDesc</p>

    <div>
        Badges / Skills Section
    </div>
</div><br />
<p>
    @if (user.UserType == "Admin")
    {
        @Html.ActionLink("Edit", "UpdateJob", "Admin", new { id = Model.Id }, null )
        @Html.ActionLink("Delete", "DeleteJob", "Admin", new { id = Model.Id }, null)
        @Html.ActionLink("Back to List", "Index", "Admin")
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }

</p>
