@model DBModel.Job

@{
    ViewBag.Title = "DeleteJob";
}

    <div class="text-center" style="margin-top:2%; line-height:1.6;">
        <h2>Delete Job Posting:</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Job</h4>
            <hr />
            <dl class="dl-horizontal" style="line-height:1.6;">
                @Html.HiddenFor(model => model.Id)
                <dt>
                   Job Title: 
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.jobTitle)
                </dd>

                <dt>
                    Company:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.company)
                </dd>

                <dt>
                    @Html.HiddenFor(model => model.careerPath)
                </dt>

                <dt>
                    Job Type:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.jobType)
                </dd>

                <dt>
                   Job ID:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.jobId)
                </dd>

                <dt>
                    @Html.HiddenFor(model => model.jobDesc)
                </dt>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-outline-primary" /> |
                    @Html.ActionLink("Cancel", "Index")
                </div>
            }
        </div>
    </div>
