@model DBModel.Account

@{
    ViewBag.Title = "Delete";
}

<div style="margin-top:5%; margin-left:25%">
    <h3>Are you sure you want to delete your account?</h3>
    <hr />
    <div class="dl-horizontal row">
        <dl class="col-4">
            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>
            <br />
            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>
            <br />
            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>
        </dl>
        <dl class="col-8">
            <dt>
                @Html.DisplayNameFor(model => model.emailID)
            </dt>
            <br />
            <dd>
                @Html.DisplayFor(model => model.emailID)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.userType)
            </dt>
            <br />
            <dd>
                @Html.DisplayFor(model => model.userType)
            </dd>
        </dl>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "Index", "Home")
        </div>
    }
</div>
