@using Capstone.Business;
@using Common.Model;
@{
    ViewBag.Title = "Questions View";
    var user = Session["user"] as UserViewModel;
    var skills = new List<DBModel.Skill>();

    if (user == null)
    {
        Response.Redirect("~/LoginAccount/Index");
    }
    else
    {
        skills = ProfileService.GetSkillsFByPath(user.CareerPath);
    }
}

    <div style="margin-top:3%;">

        <h2>Select your experience with the following skills:</h2><br /><br /><br />
        <div id="skillList">
            @foreach (var skill in skills)
            {
                <div id="@skills.IndexOf(skill)">
                    <div class="col-md-12 form-group row justify-content-center">
                        <label for="inputState" class="col-md-3 col-form-label-lg">@skill.skillName</label>
                        <div class="col-md-2">
                            <select id="@skills.IndexOf(skill)" class="form-control">
                                <option selected>None</option>
                                <option>Beginner</option>
                                <option>Intermediate</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row justify-content-center">
                        @if (skills.IndexOf(skill) < skills.Count - 1)
                        {
                            if (skills.IndexOf(skill) == 0)
                            {
                                <button type="button" skill-id="@skill.skillId" class="btnNext btn btn-primary col-sm-1 m-1">Next</button>

                            }
                            else
                            {
                                <button type="button" skill-id="@skill.skillId" class="btnBack btn btn-primary col-sm-1 m-1">Back</button>
                                <button type="button" skill-id="@skill.skillId" class="btnNext btn btn-primary col-sm-1 m-1">Next</button>
                            }

                        }
                        else
                        {
                            <button type="button" skill-id="@skill.skillId" class="btnBack btn btn-primary col-sm-1 m-1">Back</button>
                            <button type="button" id="btnSubmit" skill-id="@skill.skillId" class=" btn btn-primary col-sm-1 m-1">Submit</button>
                        }
                    </div>
                </div>
            }
        </div>
        <button type="button" class="btn btn-outline-primary col-sm-1 float-right">Cancel</button>
    </div>

@section Scripts {
    <script type="text/javascript">



        $(document).ready(function () {
            var skills = [];
            var divId = $("#skillList div").attr("id");

            $("div#"+divId).nextAll().hide();


            $('.btnNext').click(function () {
                var skillId = $(this).attr('skill-id');
                var skillLevel = $('#' + divId+" option:selected").text();

                var skill = new Object();
                skill.SkillId = skillId;
                skill.skillLevel = skillLevel;

                $("div#" + divId).hide();
                divId = parseInt(divId) + 1;
                $("div#" + divId).show();

                console.log(skill)
                skills.push(skill)
                
            });

            $('.btnBack').click(function () {
                $("div#" + divId).hide();
                divId = parseInt(divId) - 1;
                $("div#" + divId).show();

            });

            $('#btnSubmit').click(function () {
                var skillId = $(this).attr('skill-id');
                var skillLevel = $('#skillLevel').val();

                var skill = new Object();
                skill.SkillId = skillId;
                skill.SkillLevel = skillLevel;

                skills.push(skill);

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PostSkillLevels", "Profile")',
                    contentType: 'application/json',
                    data: JSON.stringify({ skills: skills }),
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                        window.location.href = '@Url.Action("Recommendations", "Profile")';
                        }
                    },
                    error: function (m) {

                    },
                });
            });
        })

    </script>
    }


