<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Salesforce</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Styles/layout_styles.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="col-3">
            <div class="navbar-brand navbar-collapse collapse" id="navbarResponsive">
                <img src="~/Images/logo.png" width=50 height=50 />
                @Html.ActionLink("PathFinder", "Index", "LoginAccount", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="fixed-bottom bg-dark font-small">
            <div class="col-3 text-center text-md-left">
                <h5 class="text-light mt-2 mb-2">PathFinder</h5>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
